<!doctype html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
    </head>

    <body>
    <div class="row padding">
        <h3><%= err.status %> error!</h3>
        <h5><%= err.message %></h5>
        <img
            class="pokemon-image"
            src="https://archive-media-1.nyafuu.org/vp/image/1470/04/1470046815810.png"
            alt="unown"
        >
    </div>
    </body>
</html>